h1 {
    background-color: orange;
    padding-top: 15px;
    padding-bottom: 15px; 
    width: 220px;
    font-size: 28px;
}
body {
    background-color: mediumturquoise;
}
#rand{
    background-color: limegreen;
    height: 100px;
    width: 175px;
}
.para {
    background-color: tan;
    columns: green;
    width: 300px;
    height: 300px;
    padding: 2px;
}
img {
    height: 75px;
    width: 100px;
}
